.dropbtn {
  background-color: #34db66;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.GridNode {
  background-color: #999999;
  border-radius: 10px;
  min-width: 100px;
  min-height: 20px;
  margin: 5px;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.Row{
  margin:auto;
  width: fit-content;
  white-space: nowrap;
  padding-top: 5px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /* display: inline-block; */
  justify-content: space-between;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #29b94f;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

header{
  background-color: #f2f2f2;
  font-size: 16px;
  font-family: sans-serif;
}

.main{
  background-color: #cccccc;
  border-radius: 5px;
  height: 100%;
  position: relative;
  padding-bottom: 10px;
}

.Button{
  align-self: center;
  height: 100%;
  box-shadow: none;
  background: none;
  /* position: absolute; */
  position: relative;
  top:50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 0;
}

.Goal.Button{
  background-color: #34db66;
}

#emph{
  font-weight: bold;
  padding-left: 20px;
}
