.dropbtn {
  background-color: #34db66;
  color: white;
  border: none;
  cursor: pointer;
  /* position: absolute; */
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  width: 100%;
  scale: 1.6;
  height: 60%;
  font-size: 12px;

}

.GridNode {
  background-color: #999999;
  border-radius: 10px;
  min-width: 100px;
  min-height: 20px;
  margin: 5px;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.Row{
  margin:auto;
  width: fit-content;
  white-space: nowrap;
  padding-top: 5px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /* display: inline-block; */
  justify-content: space-between;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #29b94f;
}

.dropdown {
  /* position: absolute; */
  /* display: inline-block; */
  /* left: 50%; */
  top: 50%;
  transform: translateY(25%);
  height: 100%;
  position: relative;
  z-index: 1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

header{
  background-color: #f2f2f2;
  font-size: 14px;
  font-family: serif;
  height: 50px;
}

.main{
  background-color: #cccccc;
  border-radius: 5px;
  height: 100%;
  /* position: relative; */
  padding-bottom: 10px;
}

.Button{
  height: 60%;
  box-shadow: none;
  background: none;
  /* position: absolute; */
  /* position: absolute; */
  top:50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(25%);
  border: 0;
  scale: 1.6;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.Goal.Button{
  background-color: #8a2073;
}
.Goal.Button:hover{
  background-color: #561449;
}

.Start.Button{
  background-color: #204e8a;
}
.Start.Button:hover {
  background-color: #143156;
}

.Wall.Button{
  background-color: #3e3e3e;
}
.Wall.Button:hover{
  background-color: #0a0a0a;
}

#emph{
  font-weight: bold;
}

.Wall.GridNode{
  background-color: #3e3e3e;
}

.Start.GridNode{
  background-color: #204e8a;
}

.Goal.GridNode{
  background-color: #34db66;
}